* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
.cursor-pointer {
  cursor: pointer;
}
.topbar {
  background-color: #79B9D2;
  color: white;
}
.topbar h1 {
  margin: 0;
  padding: 0;
}
.topbar nav {
  margin-top: 25px;
}
.topbar nav ul {
  padding: 0;
  margin: 0;
}
.topbar nav ul li a {
  color: white;
  text-decoration: none;
}
ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  border-bottom: 1px solid #3a8bab;
}

.content {
  width: 100%;
  position: relative;
  padding: 20px 40px 20px;
}
h2,
h3 {
  color: #3a8bab;
}

h4,
h5 {
  color: #ee6e73;
}

.post {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
  padding-bottom: 30px;
}
.post cite {
  display: inline-block;
  padding: 10px 0;
}

.comments form {
  border-left: 1px #79B9D2 solid;
}

.comments ul {
  margin: 0;
  padding: 0;
}
.comments ul li.comment {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: 1px #79B9D2 solid;
}

.comments ul li.comment:last-child{
  border-bottom: none;
}

.comments h5 {
  margin-top: 40px;
}
.comments textarea {
  height: 8rem;
}
.comments input[type=submit] {
  margin-top: 12px;
}
.comments input[type=number] {
  display: inline-block;
  max-width: 30px;
}
.post.ng-hide {
  opacity: 0;
}
.post.ng-hide-add,
.post.ng-hide-remove {
  display: block!important;
}
form {
  width: 100%;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
img {
  max-width: 100%;
}

ul.tags {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tags li {
  display: inline-block;
  border: none;
  padding: 0px 5px 0px 0px;
  margin: 5px 0px 5px 0px;
}

ul.tags li span {
  padding: 2px 5px;
  margin-left: 5px;
  margin: 0px;
  border: 1px #79B9D2 solid;
  color: #79B9D2;
}

.social-link {
  padding: 0;
  margin: 0;
}

.social-link img {
  max-width: 30px;
}

.social-link span {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.main-container .toc-container {
  padding-right: 0px;
}

.left-sidebar {
  margin-top: 50px;
}

.btn {
  background-color: #79B9D2;
  padding: 0;
}

.btn:hover {
  background-color: #69A9C2;
  padding: 0;
}


@keyframes unhinged {
  0%  {transform: rotate(0deg);}
  12% {transform: rotate(240deg);}
  25% {transform: rotate(125deg);}
  40% {transform: rotate(220deg);}
  53% {transform: rotate(145deg);}
  68% {transform: rotate(200deg);opacity: 1;}
  82% {transform: translate(-0.5rem, 8.57142857142857rem) rotate(215deg);opacity: 0;}
  88% {transform: translate(0) rotate(0deg);opacity: 0;}
  92% {transform: translate(0, -8.57142857142857rem) rotate(0deg);opacity: 0;}
  100% {transform: rotate(10deg); opacity: 1;}
}

.name-dot {
  animation: unhinged 7s 3.5s forwards ease;
  display: inline-block;
  transform-origin: 38% 78%;
}