<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/blog.css">
  <link rel="stylesheet" type="text/css" href="css/prism.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/post.js"></script>
  <script type="text/javascript" src="js/blog.js"></script>
</head>
<body ng-app="blogApp">

  <div ng-controller="BlogController as blog">

    <div class="topbar">
      <h1 ng-click="blog.selectTab('blog')">david.veli<span class="name-dot">!</span>la</h1>
    </div>

    <nav>
      <ul id="slide-out" class="side-nav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

    <div class="row">

      <div class="col hide-on-med-and-down l2 left-sidebar">
        <h5>Filters</h5>
        <ul class="section tags">
          <li ng-repeat="tag in blog.tags"><span>{{tag}}</span></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse burger"><i class="mdi-navigation-menu"></i></a>
      </div>

      <div class="col s12 m9 l7">
        <div class="post-grid" ng-show="blog.isTabSelected('blog')">
          <ul>
            <li ng-repeat="post in blog.posts">
              <div id="post-{{post.id}}" class="section scrollspy">
                <div ng-click="post.toggle()" class="cursor-pointer">
                  <h3>{{post.title}}</h3>
                  <h6>{{post.createdOn}}</h6>
                </div>
                <ul class="tags">
                  <li ng-repeat="tag in post.tags"><span>{{tag}}</span></li>
                </ul>
                <div ng-show="!post.isExpanded()">
                  <div ng-click="post.toggle()" class="cursor-pointer tooltipped" data-position="bottom" data-delay="50" data-tooltip="Show me more!">
                    <p ng-bind-html="post.body | limitTo:500"></p>
                  </div>
                  <div ng-click="post.toggle()" class="cursor-pointer">
                    <h6 ng-show="{{post.comments.length}} > 0">
                      {{post.comments.length}} comment<span ng-show="{{post.comments.length}} != 1">s</span>
                    </h6>
                  </div>
                </div>
                
                <div ng-show="post.isExpanded()">
                  <p ng-bind-html="post.body"></p>
                  <img ng-if="post.image" ng-src="{{post.image}}"/>
                  <div class="comments" ng-controller="CommentController as commentCtrl">
                    <div ng-click="post.toggle()" class="cursor-pointer">
                      <h5 ng-show="post.comments.length > 0">Comments</h5>
                      <ul>
                       <li ng-repeat="comment in post.comments" class="comment">
                          <cite><b>{{comment.author}}</b></cite> - <cite>{{comment.createdOn | date : "d MMM yyyy hh:mm"}}</cite>
                          <p>{{comment.body}}</p>
                       </li>
                      </ul>
                    </div>
                    <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <h6>Add Comment</h6>
                          <textarea ng-model="commentCtrl.comment.body" cols="30" rows="5" required></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l6">
                          <input type="text" ng-model="commentCtrl.comment.author" required placeholder="Name"/>
                        </div>
                        <div class="col s6 m3 l3">
                          <span>1 + </span>
                          <input type="number" ng-model="commentCtrl.comment.captcha" required placeholder="N"/>
                          <span> = {{1 + (post.id % 8)}}</span>
                          
                        </div>
                        <div class="col s6 m3 l3">
                          <input class="btn" type="submit" value="send"/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col hide-on-small-only m3 l3 toc-container">
        <ul class="section table-of-contents">
          <li ng-repeat="post in blog.posts"><a href="#post-{{post.id}}">{{post.title}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">This is the end.</h5>
          <cite>In fact, the beginning: you just read my first entry.</cite>
          <p class="grey-text text-lighten-4">I wrote this blog in Angular. It uses a script that finds contents in my Github repositories and publishes them automatically as blog posts. You can find (and use) its source code in Github.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">You can find me on:</h5>
          <div class="row">
            <a class="social-link col s1 m1 l1" href="https://uk.linkedin.com/in/dvelilla" target="_blank"><img src="img/linkedin.ico"></a>
            <a class="social-link col s11 m11 l11" href="https://uk.linkedin.com/in/dvelilla" target="_blank"><span>uk.linkedin.com/in/dvelilla</span></a>
          </div>
          <div class="row">
            <a class="social-link col s1 m1 l1" href="https://github.com/david-v" target="_blank"><img src="img/github.png"></a>
            <a class="social-link col s11 m11 l11" href="https://github.com/david-v" target="_blank"><span>github.com/david-v</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">&copy; {{Date.now() | date : "yyyy"}} David Velilla</div>
    </div>
  </footer>

  <script type="text/javascript" src="js/prism.js" data-manual></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('.scrollspy').scrollSpy();
        $('.tooltipped').tooltip();
        Prism.highlightAll();
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );
        $(window).scroll(function() {
          var scrolled = $(document).scrollTop();
          $('.table-of-contents').css('top', (parseInt(scrolled) * -0.03) + 'px');
        });
      }, 1000);
      $('.table-of-contents').pushpin({ top: ($('.table-of-contents').offset().top - 20) });
      $('.burger').pushpin({ top: ($('.burger').offset().top + 370) });
    });
  </script>
</body>
</html>