<html>
<head>
  <link rel="stylesheet" type="text/css" href="blog.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="blog.js"></script>
</head>
<body ng-app="blogApp">
  <div ng-controller="BlogController as blog">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-s-4">
            <h1 ng-click="blog.selectTab('blog')" class="push-left">{{blog.title}}</h1>
          </div>
          <div class="offset-s-4 col-s-4">
            <nav role='navigation' class="push-right">
              <ul>
                <li><a href="#" ng-click="blog.selectTab('blog')">See All Posts</a></li> //
                <li><a href="#" ng-click="blog.selectTab('new')">Add New Post</a></li>
              </ul>
            </nav> 
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <ul class="post-grid" ng-show="blog.isTabSelected('blog')">
            <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }">
              <div ng-click="post.toggle()" class="cursor-pointer">
                <h3>{{post.title}}</h3>
                <cite>{{post.createdOn}}</cite>
              </div>
              <ul class="tags">
                <li ng-repeat="tag in post.tags"><span>{{tag}}</span></li>
              </ul>
              <div ng-show="!post.isExpanded()">
                <div ng-click="post.toggle()" class="cursor-pointer">
                  <p ng-bind-html="post.body | limitTo:500"></p>
                </div>
                <div ng-click="post.toggle()" class="cursor-pointer">
                  <p class="fa fa-comment push-left" ng-show="{{post.comments.length}} > 0">
                    {{post.comments.length}} comment<span ng-show="{{post.comments.length}} != 1">s</span>
                  </p>
                </div>
              </div>
              <div ng-show="post.isExpanded()">
                <p ng-bind-html="post.body"></p>
                <img src="{{post.image}}" ng-show="{{post.image}}"/>
                <div class="comments" ng-controller="CommentController as commentCtrl">
                  <div ng-click="post.toggle()" class="cursor-pointer">
                    <h4 ng-show="post.comments.length > 0">Comments</h4>
                    <ul>
                     <li ng-repeat="comment in post.comments">
                       "{{comment.body}}"
                       <cite>- <b>{{comment.author}}</b></cite>
                     </li>
                    </ul>
                  </div>
                  <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
                    <h4>Add Comment</h4>
                      <textarea ng-model="commentCtrl.comment.body" cols="30" rows="5" required></textarea>
                      <label for="">by:</label>
                      <div class="row">
                        <div class="col-md-4">
                          <input type="text" ng-model="commentCtrl.comment.author" required placeholder="Name"/>
                        </div>
                        <div class="col-md-4">
                          <input type="submit" value="Submit" />
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </li>
          </ul>
          
          <div class="post" ng-show="blog.isTabSelected('new')">
            <h2>Add New Post</h2>
            <form name="postForm" ng-submit=" blog.addPost()" novalidate>
              <h4>Title</h4>
              <input type="text" ng-model="blog.post.title"/>
              <h4>Body</h4>
              <textarea ng-model="blog.post.body" rows="10"></textarea>
              <label for="">Featured Image URL</label>
              <input type="text" ng-model="blog.post.image" placeholder="http://placekitten.com/g/2000/600" />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>